<div class="text-red-600 font-medium my-4">
  <h2>Please fix the following <%= pluralize(errors.count, "error") %> and try again</h2>
  <ul class="list-disc list-inside">
    <% errors.each do |error| %>
      <li><%= error.full_message %></li>
    <% end %>
  </ul>
</div>
