<header class="mb-6">
  <h1 class="font-bold text-2xl/tight">New customer</h1>
  <p>Create a new customer record</p>
</header>
<%= render 'form' %>
<%= link_to 'Never mind, go back', customers_path %>