<% nav_items ||= Spina::Navigation.find_by(name: "main").navigation_items.roots.sorted %>
<div class="absolute inset-x-0 -z-20 h-32 bg-blue-400" aria-hidden="true"></div>
<header class="absolute inset-x-0 z-20 pt-10 pb-8 bg-gradient-to-b from-blue-900/80 via-blue-900/25 to-transparent">
  <div class="container mx-auto flex items-center justify-center space-x-12">
    <!-- Navigation -->
    <nav class="flex items-center gap-x-8">
      <!-- Left links -->
      <nav class="hidden sm:block space-x-8">
        <% nav_items[0..1].each do |item| %>
          <%= link_to item.menu_title, item.materialized_path, class: "no-underline text-white font-bold text-xl drop-shadow-lg hover:underline hover:underline-offset-2" %>
        <% end %>
      </nav>
      <!-- Logo -->
      <%= link_to '/', class: "relative block" do %>
        <%= image_tag 'logo.png', class: "-mt-5", size: "180" %>
      <% end %>
      <!-- Right links -->
      <nav class="hidden sm:block space-x-8">
        <% nav_items[2..-1].each do |item| %>
          <%= link_to item.menu_title, item.materialized_path, class: "no-underline text-white font-bold text-xl drop-shadow-lg hover:underline hover:underline-offset-2" %>
        <% end %>
      </nav>
    </nav>
  </div>
</header>