<table class="w-full whitespace-nowrap text-left leading-6">
  <colgroup>
    <col class="w-full">
    <col>
    <col>
    <col>
  </colgroup>
  <thead class="border-b border-stone-200 dark:border-stone-400">
    <tr>
      <th scope="col" class="px-0 py-3 font-semibold">Item</th>
      <th scope="col" class="py-3 pl-8 pr-0 text-right font-semibold">Qty</th>
      <th scope="col" class="py-3 pl-8 pr-0 text-right font-semibold">Price</th>
    </tr>
  </thead>
  <tbody id="order-items-list">
    <%= render partial: 'item', collection: @order_items, as: :order_item %>
  </tbody>
  <tfoot id="order-totals">
    <%= render partial: 'items_totals', locals: { order: @order } %>
  </tfoot>
</table>
