<%# app/views/orders/edit.html.erb %>
<%= turbo_frame_tag 'add-order-item' do %>
  <div class="pt-6 border-t border-stone-400/30">
    <%= render partial: "order_items/form", locals: { products: @products, order: @order } %>
  </div>
<% end %>