<%# app/views/orders/show.html.erb %>
<div class="mx-auto grid max-w-2xl grid-cols-1 grid-rows-1 items-start gap-x-8 gap-y-8 lg:mx-0 lg:max-w-none lg:grid-cols-3">
  <!-- !Order metadata -->
  <div id="order-meta-section" class="lg:col-start-3 lg:row-end-1">
    <%= render partial: 'meta', locals: { order: @order } %>
  </div>

  <!-- !Order Summary -->
  <%= render 'summary', locals: { order: @order, order_items: @order.order_items } %>

  <div class="lg:col-start-3">
    <!-- Activity Log -->

  </div>
</div>
