<p>Hi <%= @order.customer.first_name %></p>
<p>
  Thank you for your order. This is an email confirmation that we have received it.<br>
  For your reference, we have attached a PDF receipt summarising your order and contact details.
</p>
<p>
  Expect a phone call within the next few business days to organise the delivery date.<br>
  We'll also quote your delivery fee and offer payment options at this time.
</p>
<p>
  Regards,<br>
  Firewood To U
</p>
<footer>
  <strong>Firewood To U</strong>
  <ul style="margin: 0.25em 0; padding: 0; list-style-type: none;">
    <li>
      165 Mornington Rd
      <br>Mornington, TAS 7018
    </li>
    <li style="margin-top: 0.25em">
      0467 849 053
    </li>
    <li style="margin-top: 0.25em">
      <a href="http://firewoodtou.com.au/" target="_blank">firewoodtou.com.au</a>
    </li>
  </ul>
</footer>