<div class="mt-6">
  <p>
    This page will automatically display the details of all available products.
    To update prices, descriptions or images, please use the FtoU Online <a class="underline" href="/products" target="_blank">product management page</a> in the staff area.
  </p>
</div>