@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1, h2, h3, h4, h5, h6 {
    @apply leading-tight font-bold tracking-tight;
  }

}

@layer components {
  label {
    @apply block font-bold;
  }

  select,
  .form-input {
    @apply block p-2;
    @apply text-inherit;
    @apply bg-white dark:bg-stone-900;
    @apply border-stone-500/50 dark:border-stone-400/50;
    @apply dark:shadow-inner;
  }

  select { @apply pr-10; }

  a {
    @apply font-medium underline;
  }

  .btn {
    @apply inline-block px-4 py-2 cursor-pointer;
    @apply leading-tight tracking-tight font-bold no-underline text-stone-900;
    @apply bg-stone-200 hover:bg-orange-100;
    @apply dark:bg-stone-600 dark:text-inherit hover:dark:bg-orange-700;
  }

  .btn--primary {
    @apply text-white bg-orange-700 hover:bg-orange-600;
  }

  .button_to {
    @apply inline-block font-medium underline;
  }
}

.simple-calendar table {
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing: 0px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #ddd;
    border-collapse: collapse;
    box-sizing: border-box;
    max-width: 100%;
    width: 100%;
 }
  .simple-calendar tr {
    border-collapse: collapse;
 }
  .simple-calendar th {
    padding: 6px;
    border-bottom: 2px solid #ddd;
    border-collapse: collapse;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-top: 0px none #333;
    box-sizing: border-box;
    text-align: left;
 }
  .simple-calendar td {
    padding: 6px;
    vertical-align: top;
    width: 14%;
    border: 1px solid #ddd;
    border-top-color: #ddd;
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: #ddd;
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: #ddd;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: #ddd;
    border-left-style: solid;
    border-left-width: 1px;
 }
  .simple-calendar .calendar-heading nav {
    display: inline-block;
 }
  .simple-calendar .day {
    height: 80px;
 }
  .simple-calendar .today {
    @apply bg-yellow-300/20;
 }
  .simple-calendar .prev-month {
    @apply bg-stone-400/20;
 }
  .simple-calendar .next-month {
    @apply bg-stone-400/20;
 }

@import 'actiontext.css';
