<div class="bg-stone-800/90 backdrop-blur px-8 py-6 text-white md:absolute md:top-0 md:right-0 md:max-w-xs md:m-6 md:shadow">
  <h2 class="mb-4 text-xl tracking-normal">Location</h2>
  <p>
    <%= current_spina_account.content(:directions) %>
  </p>
  <p class="mt-4">
    <span class="font-semibold">Operating Hours:</span><br><%= current_spina_account.content(:hours) %>
  </p>
</div>
<iframe class="w-full shadow-inner" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2924.4757386754463!2d147.40916654429824!3d-42.862801885582456!3m2!3z10!1i1024!2i768!4f13.1!3m3!1m2!1s0xaa6e14d1c0157e4b%3A0x7bed677640ef232c!2sFirewood%20To%20U!5e0!3m2!1sen!2sau!4v1699505602516!5m2!1sen!2sau" height="560" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" title="Google Map of business location"></iframe>