<li class="overflow-hidden border border-stone-200">

  <div class="flex items-center gap-x-4 border-b border-stone-500/5 bg-stone-50 p-6">
    <div class="text-lg/tight font-bold"><%= product.title %></div>
    <div class="relative ml-auto">
      <button type="button" class="-m-2.5 btn">Edit</button>
    </div>
  </div>

  <dl class="-my-3 divide-y divide-stone-500/10 px-6 py-4 leading-6">
    <div class="flex justify-between gap-x-4 py-3">
        <%= product.description %>
    </div>
    <div class="py-3 text-right">
      $<%= product.price %> per <%= product.unit %>
    </div>
  </dl>
</li>
