<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      body {
        font-family: Verdana, sans-serif;
        line-height: 1.4;
        font-size: 14px;
        padding: 0 1em;
      }
      footer { color: #777; margin-top: 1.5em; font-size: 0.9em; }
      header { background-color: #fbf1a9; padding: 0 16px; }
      h1, h2, h3, h4, h5 { margin-top 1.5em; margin-bottom: 0; }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
